<div class="col-md-6" *ngIf="!flag">
<h2 class="text-center">Tax Calculator</h2>
<form>
	<div class="form-group">
    	<label for="name">Tax Year:</label>
    	<input type="name" [(ngModel)]="tax.taxYear" placeholder="Year" name="year" class="form-control" id="year">
	  </div>
	  <div class="form-group">
		<label for="name">Age:</label>
		<br/>
    	<input type="name" [(ngModel)]="tax.age" placeholder="Age" name="year" class="form-control" id="year">
	  </div>
	  <div class="form-group">
    	<label for="name">Monthly gross salary:</label>
    	<input type="name" [(ngModel)]="tax.totalTaxableIncome" placeholder="monthly gross salary" name="year" class="form-control" id="year">
	  </div>
	  <div class="form-group">
    	<label for="name">Medical aid:</label>
    	<input type="name" [(ngModel)]="tax.medicalAidMembers" placeholder="dependents" name="year" class="form-control" id="year">
	  </div>
	  <br/>
	  <br/>
	  <button class="btn btn-success" type="button" (click)="submitTaxParameters()">Calculate Tax</button>
</form>


</div>

<div class="col-md-6" *ngIf="flag">
  <table class="table table-striped">
  <thead>
  <tr>
    <th>monthly tax</th>
	<th>annual tax</th>
	<th>monthly tax credit</th>
	<th>monthly salary after tax</th>
	<th>monthlySalary after tax credits</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{results.monthlyTax}}</td>
		  <td>{{results.annulTax}}</td>
		  <td>{{results.monthlyTaxCredit}}</td>
		  <td>{{results.monthlSalaryAfterTax}}</td>
		  <td>{{results.monthlySalaryAfterTaxCredits}}</td>
          
          </tr>
  </tbody>
    </table>
	<div>
		<input type="button" (click)="back()" value="Back"/>
	</div>
  </div>

