<div class="col-md-6" >
  <h2 class="text-center">Tax Table 2021</h2>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Taxable Income</th>
	  <th>Rate of Tax</th>
	</tr>
  </thead>
  <tbody>
	  <div  *ngFor="let item of taxTableByYearArray2021">
      <tr>
		  <td>{{item.taxableIncomeRange}}</td>
		 <td>{{item.rateOfTaxDescription}}</td>
		  </tr>
		  </div>
  </tbody>
    </table>
 </div>
    <div class="col-md-6" >
  <h2 class="text-center">Tax Table 2020</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Taxable Income</th>
	  <th>Rate of Tax</th>
	</tr>
  </thead>
  <tbody>
	  <div  *ngFor="let item of taxTableByYearArray2020">
      <tr>
		  <td>{{item.taxableIncomeRange}}</td>
		 <td>{{item.rateOfTaxDescription}}</td>
		  </tr>
		  </div>
  </tbody>
    </table>
  </div>

